
 body {
  margin: 2%;
}
body {
  background-image: url("Speckled.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.header {
  display: flex;
  align-items: center;
}
 h3 { 
	color: #CC0099;
	font-size:170%;
	margin: 2%;
	padding: 0%;
	
p {
	padding: 5%;
}
	
h4{
	padding: 5%;
}